:root {
  scroll-behavior: auto;
}

.main-stack {
  overflow-y: auto;
}

.main-header {
  position: fixed;
  z-index: 2;
  background-color: orange;
  text-align: center;
  width: 100vw;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 800;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}

.main-header-place-holder {
  height: 2rem;
  /*margin-bottom: 2rem;*/
  /*background-color: black;*/
}

.sub-header {
  position: fixed;
  z-index: 1;
  background-color: #FFDEAD;
  text-align: center;
  width: 100vw;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}

.sub-header-place-holder {
  height: 2rem;
}

.sub-header-back {
  position: absolute;
  margin-left: 0.5rem;
}

.sub-header-title {
  margin: 0 auto;
}

.content-container {
  margin-top: 1rem;
}

.section-body {
  padding: 0.4rem;
}

.section-title {
  margin: 0 auto;
}

.item-image {
  /*max-height: 10rem;*/
}

.item-body {
  padding: 0.2rem;
  padding-bottom: 0.1rem;
}

.item-title {
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.item-price {
  font-size: 0.85rem;
  float: right;
}

.item-form-image {
  padding-top: 1rem;
}

.item-form {
  padding: 0;
  margin-bottom: 0;
  /*height: 10rem;*/
  overflow: auto;
}

.item-option {
  width: 90%;
}

.item-option-label {
  padding: 0.25rem;
}

.item-option-price {
  float: right;
}

.item-form-special-instructions {
  margin: 0 auto;
  width: 95%;
  margin-bottom: 0.5rem;
}

.buffer-row {
  height: 10rem;
}

.order-add {
  padding: 1rem;
  background-color: white;
  text-align: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.order-add-button-color {
  background-color: orange;
}

.order-add-count-col {
  padding: 0;
}

.order-add-increase {
  /*border-radius: 50%;*/
  font-weight: 900;
}

.order-add-decrease {
  /*border-radius: 50%;*/
  font-weight: 900;
}

.order-add-count {
  margin-left: 1rem;
  margin-right: 1rem;
}

.order-add-button {
  width: 100%;
  margin: 0;
  font-weight: 700;
}

.order-review-option-price {
  float: right;
}

.order-review-total-price {
  float: right;
}

.go-to-checkout {
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;

  box-shadow: rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.go-to-checkout-button {
  font-weight: 700;
}

.payment-options {
  padding: 1rem;
  background-color: white;
  text-align: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.payment-options-button {
  width: 100%;
  font-weight: 700;
}
